.DS_Store
/config.log
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.nice
/config.status
/config.sub
/*.lo
/.deps
/.libs/
/Makefile
/Makefile.*
/ac*.m4
/autom4te.cache/
/build/
/configure
/configure.in
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/modules/
/run-tests.php
/suhosin.la
/tests/*/*.tmp
