.DS_Store
/config.*
/*.lo
/.deps
/.libs/
/Makefile
/Makefile.*
/ac*.m4
/autom4te.cache/
/build/
/configure
/configure.in
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/modules/
/run-tests.php
/suhosin.la

